header {
    background: @white;
    position: fixed;
    display: block;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 100;

    .text {
        .top {
            padding: 20px 0;

            a {
                h1 {
                    color: @dkblue;
                    font-size: 24px;
                    letter-spacing: 0;
                }
            }
        }
    }
}